<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new page</title>
</head>
<body>
    <h3>Write your tweet below:</h3>
   
 <form action="/posts" method="post">  
    <input placeholder="enter your username" name="username"/> <br>
   <textarea placeholder="write your post" name="content" ></textarea> <br>
    <button type="submit ">Done </button>
    </form>
</body>
</html>